.ovo-item {
  position: relative;
  padding: 12px 20px;
  border-bottom: 1px solid #eee;
}

.ovo-item h3 {
  margin: 0;
  padding: 3px 5px;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  background: #4c2a86;
  border-radius: 3px;
}

.ovo-item h1 {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ovo-item em {
  color: #888;
  font-size: 12px;
  font-style: normal;
}

.ovo-item button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #f5f5f5;
  border: 0;
  border-left: 1px solid #eee;
  font-size: 14px;
  cursor: pointer;
}

.ovo-item button:hover {
  color: #ffffff;
  background: #B00021;
}