.ovo-item {
  position: relative;
  padding: 12px 20px;
  border-bottom: 1px solid #eee;
}

.ovo-item h3 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.ovo-item h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

.ovo-item em {
  color: #888;
  font-size: 12px;
  font-style: normal;
}

.ovo-item button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #f5f5f5;
  border: 0;
  border-left: 1px solid #eee;
  font-size: 16px;
  cursor: pointer;
}